.dropdown-menu li {
  padding: 4px 10px;
}

.dropdown-menu li:not(.divider):hover {
  background: rgba(230, 230, 230, 0.8);
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.sort-selected::after {
  content: "\2713";
  float: right;
  color: rgb(41, 212, 25);
  /* font-size: 20px; */
  font-weight: 900;
}
